/* src/App.css */
.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.app > div {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





